# pip install --extra-index-url  https://download.pytorch.org/whl/cpu --no-cached-data librosa django-ninja scikit-learn==1.0.2 python-dotenv welford typing annoy transformers pandas torch essentia essentia-tensorflow matplotlib django-cors-headers tempocnn
